{% extends "base.html" %}

{% block title %} Login {% endblock title %}

{% block content %}

{% if errors != None %}
  {% with messages = get_flashed_messages() %}
    <ul class="alert-list">
    {% for message in messages %}
    <li>
      <div class="alert alert-danger fade show" role="alert">
        <strong>Error: </strong> {{ message }}
      </div>
    </li>
    {% endfor %}
    </ul>
  {% endwith %}
{% endif %}

<fieldset class="form-group panel mt-3">
  
  <legend class="border-bottom mb-4">Log In</legend>

  <form method="POST">

    <div class="row mb-3">
      <div class="form-group">
        <label for="email" class="form-label">
          <i class="bi bi-info-circle-fill text-danger"></i>
          E-mail
        </label>
        <div class="input-group has-validation">
          <input 
            type="email" 
            name="email" 
            id="email" 
            class="form-control {{ 'is-invalid' if errors and errors['WRONG_EMAIL'] }}" 
            placeholder="user@example.com" 
            required>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group">
        <label for="password" class="form-label">
          <i class="bi bi-info-circle-fill text-danger"></i>
          Password
        </label>
        <div class="input-group has-validation">
          <input 
          type="password" 
          name="password" 
          id="password" 
          class="form-control {{ 'is-invalid' if errors and errors['WRONG_PASSWORD'] }}" 
          placeholder="Enter password" 
          required>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <small class="text-danger">
        <i class="bi bi-info-circle-fill text-danger"></i> - Required field
      </small>
    </div>

    <div class="row mb-3">
      <div class="form-group col">
        <button class="btn btn-success">Log in</button>
      </div>
    </div>

  </form>

  <div class="border-top pt-3">
    <small class="text-muted">
      Need an account? <a href="{{ url_for('auth.signup') }}">Register here!</a>
    </small>
  </div>

</fieldset>

<style>

  .panel {
    max-width: 500px;
  }

  .alert-list {
    position: absolute;
    width: 500px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    list-style: none;
    margin: 0;
    padding: 0; 

    animation-name: fade-away;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes fade-away {
    0% { opacity: 1 }
    90% { opacity: 0.9 }
    100% { opacity: 0; visibility: hidden; }
  }
</style>
{% endblock content %}