{% extends "base.html" %}

{% block title %} Signup {% endblock title %}

{% block content %}

{% if errors != None %}
  {% with messages = get_flashed_messages() %}
    <ul class="alert-list">
    {% for message in messages %}
    <li>
      <div class="alert alert-danger fade show" role="alert">
        <strong>Error: </strong> {{ message }}
      </div>
    </li>
    {% endfor %}
    </ul>
  {% endwith %}
{% endif %}

  <legend class="border-bottom mb-4">Sign Up</legend>

  <form method="POST">

    <div class="row mb-3">
      <div class="form-group">
        <label for="email" class="form-label">
          <i class="bi bi-info-circle-fill text-danger"></i>
          E-mail
        </label>
        <div class="input-group has-validation">
          <input type="email" name="email" id="email"
                 class="form-control {{ 'is-invalid' if errors and errors['WRONG_EMAIL'] }}"
                 placeholder="user@example.com">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group">
        <label for="neptun_code">
          <i class="bi bi-info-circle-fill text-danger"></i>
          Neptun Code
        </label>
        <div class="input-group has-validation">
          <input type="text"
                 name="neptun_code"
                 id="neptun_code"
                 class="form-control {{ 'is-invalid' if errors and errors['WRONG_NEPTUN_CODE'] }}"
                 placeholder="ABCDE1">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group col-6">
        <label for="first_name" class="form-label">
          <i class="bi bi-info-circle-fill text-danger"></i>
          First Name
        </label>
        <div class="input-group has-validation">
          <input type="text" name="first_name" id="first_name"
                 class="form-control {{ 'is-invalid' if errors and errors['WRONG_FIRST_NAME'] }}"
                 placeholder="First Name">
        </div>
      </div>
      <div class="form-group col-6">
        <label for="last_name" class="form-label">
          <i class="bi bi-info-circle-fill text-danger"></i>
          Last Name
        </label>
        <div class="input-group has-validation">
          <input type="text" name="last_name" id="last_name"
                 class="form-control {{ 'is-invalid' if errors and errors['WRONG_LAST_NAME'] }}"
                 placeholder="Last Name">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group col-6">
        <label for="password" class="form-label">
          <i class="bi bi-info-circle-fill text-danger"></i>
          Password
        </label>
        <div class="input-group has-validation">
          <input type="password" name="password" id="password"
                 class="form-control {{ 'is-invalid' if errors and errors['PASSWORD_CONF'] }}"
                 placeholder="Enter password">
        </div>
      </div>
      <div class="form-group col-6">
        <label for="confirm_password" class="form-label">
          <i class="bi bi-info-circle-fill text-danger"></i>
          Confirm Password
        </label>
        <div class="input-group has-validation">
          <input type="password" name="confirm_password" id="confirm_password"
                 class="form-control {{ 'is-invalid' if errors and errors['PASSWORD_CONF'] }}"
                 placeholder="Enter password again">
        </div>
      </div>
    </div>

    <label for="departments" class="form-label">
      <i class="bi bi-info-circle-fill text-danger"></i>
      Departments
    </label>
    <div class="input-group mb-3">
      <select class="form-select {{ 'is-invalid' if errors and errors['DEPARTMENT_DNE'] }}" name="department">
        <option value="0" disabled selected hidden>Select your department</option>
        {% for department in departments %}
        <option value="{{ department.DepartmentID }}">{{ department.DepartmentName }}</option>
        {% endfor %}
      </select>
    </div>

    <label for="study_program" class="form-label">
      <i class="bi bi-info-circle-fill text-primary"></i>
      Study Program
    </label>
    <div class="input-group mb-3">
      <select class="form-select {{ 'is-invalid' if errors and errors['STUDY_PROGRAM_DNE'] }}" name="study_program">
        <option value="0" disabled selected hidden>Select your study program</option>
        {% for study_program in study_programs %}
        <option value="{{ study_program.StudyProgramID }}">{{ study_program.StudyProgramName }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="row mb-3">
      <small class="text-primary">
        Study program is not required when signing up as a teacher!
      </small>
      <span class="mb-3"></span>
      <small class="text-danger">
        <i class="bi bi-info-circle-fill"></i> - Required field
      </small>
    </div>

    <div class="row mb-3">
      <div class="form-group col">
        <button class="btn btn-success">Register</button>
      </div>
    </div>

  </form>

  <div class="border-top pt-3">
    <small class="text-muted">
      Already Have an Account? <a href="{{ url_for('auth.login') }}" class="me-2">Log In!</a>
    </small>
  </div>


</fieldset>


<style>

  fieldset {
    padding: 15px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

    border-radius: 10px;
  }

  .panel {
    max-width: 500px;
  }

  .alert-list {
    position: absolute;
    width: 500px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    list-style: none;
    margin: 0;
    padding: 0; 

    animation-name: fade-away;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes fade-away {
    0% { opacity: 1 }
    90% { opacity: 0.9 }
    100% { opacity: 0; visibility: hidden; }
  }

</style>
{% endblock content %}