{% extends "base.html" %}

{% block title %} Signup {% endblock title %}

{% block content %}
<fieldset class="form-group panel mt-3 bg-light">
  <legend class="border-bottom mb-4">Sign Up!</legend>

  <form method="POST">

    <div class="row mb-3">
      <div class="form-group">
        <label for="email" class="form-label">E-mail</label>
        <div class="input-group has-validation">
          <input type="email" name="email" id="email"
                 class="form-control"
                 placeholder="user@example.com">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group">
        <label for="neptun_code">Neptun Code</label>
        <div class="input-group has-validation">
          <input type="text"
                 name="neptun_code"
                 id="neptun_code"
                 class="form-control"
                 placeholder="ABCDE1">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group col-6">
        <label for="first_name" class="form-label">First Name</label>
        <div class="input-group has-validation">
          <input type="text" name="first_name" id="first_name"
                 class="form-control"
                 placeholder="First Name">
        </div>
      </div>
      <div class="form-group col-6">
        <label for="last_name" class="form-label">Last Name</label>
        <div class="input-group has-validation">
          <input type="text" name="last_name" id="last_name"
                 class="form-control"
                 placeholder="Last Name">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group col-6">
        <label for="password" class="form-label">Password</label>
        <div class="input-group has-validation">
          <input type="password" name="password" id="password"
                 class="form-control"
                 placeholder="Enter password">
        </div>
      </div>
      <div class="form-group col-6">
        <label for="confirm_password" class="form-label">Confirm Password</label>
        <div class="input-group has-validation">
          <input type="password" name="confirm_password" id="confirm_password"
                 class="form-control"
                 placeholder="Enter password again">
        </div>
      </div>
    </div>

    <label for="departments" class="form-label">Departments</label>
    <div class="input-group mb-3">
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Departments</option>
        <option value="1">Applied Linguistics</option>
        <option value="2">Electrical Engineering</option>
        <option value="3">Horticulture</option>
        <option value="4">Mathematics & Informatics</option>
        <option value="5">Mechanical Engineering</option>
      </select>
    </div>
  
    <label for="study_program" class="form-label">Study Program</label>
    <div class="input-group mb-3">
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Study Program</option>
        <option value="1">Agricultural Engineering</option>
        <option value="2">Automation and Applied Informatics</option>
        <option value="3">Computer Science</option>
        <option value="4">Communication and Public Relations</option>
        <option value="5">Forestry</option>
        <option value="6">Horticultural Engineering</option>
        <option value="7">Informatics</option>
        <option value="8">Landscape Architecture</option>
        <option value="9">Machine Manufacturinig Engineering</option>
        <option value="10">Mechatronics</option>
        <option value="11">Public Health Services and Policies</option>
        <option value="12">Telecommunication Systems and Technologies</option>
        <option value="13">Translateion and Interpreting Studies</option>

      </select>
    </div>

    <div class="row mb-3">
      <div class="form-group col">
        <button class="btn btn-success">Register</button>
      </div>
    </div>

  </form>

  <div class="border-top pt-3">
    <small class="text-muted">
      Already Have an Account? <a href="{{ url_for('auth.login') }}" class="me-2">Log In!</a>
    </small>
  </div>


</fieldset>


<style>
  .panel {
    margin: 0 auto;
    max-width: 500px;
  }
  fieldset {
    padding: 15px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.95);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

    border-radius: 10px;
  }
</style>
{% endblock content %}