{% extends "base.html" %}

{% block title %} Attendance {% endblock title %}

{% block content %}

<h1>Attendance Student</h1>

<h2 class="col-2">Fizika II.</h2>

<div class="d-grid gap-2 col-2">
    <button class="btn btn-primary" type="button">Fizika II.</button>
    <button class="btn btn-primary" type="button">Villamosságtan II.</button>
    <button class="btn btn-primary" type="button">Adatbázis I.</button>
</div>

<style>
    .btn{
         margin-left: 20px;   
    }
    .mb-4{
        margin-left: 20px; 
    }
</style>

{% endblock content %}