{% extends "base.html" %}

{% block title %} Contact us {% endblock title %}

{% block content %}

<div class="row panel">

  <h1 class="mb-3">Contact</h1>

  <hr>
  </hr>

  <h3 class="mb-3">Faculty of Technical and Human Sciences, Târgu-Mureș</h3>

  <p class="ms-3"><b>Location:</b> Târgu-Mureş/Corunca, Calea Sighișoarei nr. 2.</p>
  <p class="ms-3"><b>Telephone</b> +40 265 206 210</p>
  <p class="ms-3"><b>Fax:</b> +40 265 206 211</p>
  <p class="ms-3"><b>Mail box:</b> 540485 Târgu-Mureş, Op. 9., Cp. 4</p>
  <p class="ms-3"><b>E-mail:</b> <a href="mailto://office@ms.sapientia.ro">office@ms.sapientia.ro</a> </p>
  <p class="ms-3"><b>Website:</b> <a href="https://ms.sapientia.ro/hu/" target="_blank">https://ms.sapientia.ro</a></p>

  <h4 class="mt-3 mb-3"><b>Location on Google Maps</b></h4>

  <hr>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3313.5929984434256!2d24.598472!3d46.523111!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sro!4v1628771708070!5m2!1sen!2sro"
    ></iframe>


</div>

<style>
  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: darkgray;
  }

  iframe {
    border-radius: 25px;
    margin: 0 auto;
    min-height: 500px;
  }

  .panel {
    background: rgba(245, 245, 245, 0.9);
    padding: 15px;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.95);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
</style>


{% endblock content %}