{% extends "base.html" %}

{% block title %} Profile for {{ current_user.FirstName }} {{ current_user.LastName }} {% endblock title %}

{% block content %}
<fieldset class="form-group panel mt-3 bg-light">
    <legend class="border-bottom mb-4">Profile!</legend>
  
  
    <form method="POST">

        <div class="col-md-10">
            <div class="profile-head">
                <h5>
                    Jane Smith
                </h5>
                <h6>
                    Automation & Applied Informatics
                </h6>
                <h6>
                    Year Of Studty: III.
                </h6>

            </div>
        </div>

    <div class="row mb-3">
        <div class="form-group">
            <label for="neptun_code">First_name</label>
              <div class="input-group has-validation">
                <input type="text"
                       name="fisrt_name"
                       id="first_name"
                       class="form-control"
                       placeholder="First Name">
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="form-group">
          <label for="neptun_code">Last Name</label>
          <div class="input-group has-validation">
            <input type="text"
                   name="last_name"
                   id="last_name"
                   class="form-control"
                   placeholder="Last Name">
          </div>
        </div>
    </div>    
  
    <div class="row mb-3">
        <div class="form-group">
          <label for="neptun_code">Email</label>
          <div class="input-group has-validation">
            <input type="text"
                   name="email"
                   id="email"
                   class="form-control"
                   placeholder="Email">
          </div>
        </div>
    </div>
    
      <div class="row mb-3">
        <div class="form-group">
          <label for="neptun_code">Neptun Code</label>
          <div class="input-group has-validation">
            <input type="text"
                   name="neptun_code"
                   id="neptun_code"
                   class="form-control"
                   placeholder="ABCDE1">
          </div>
        </div>
      </div>

  
      <div class="row mb-3">
        <div class="form-group col">
          <button class="btn btn-success">Edit</button>
        </div>
      </div>

    </form>
  
  </fieldset>
  
  
  <style>
    .panel {
      margin: 0 auto;
      max-width: 500px;
    }
  
    fieldset {
      padding: 15px;
  
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.95);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  
      border-radius: 10px;
    }
  </style>
{% endblock content %}